{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}
<!-- Page Header Start -->
<div class="page-header" style="background-image: url('{{ banner.image.url }}');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Page Header Box Start -->
                <div class="page-header-box">
                    <h1 class="text-anime-style-3" data-cursor="-opaque">Дегустации </h1>
                    <nav class="wow fadeInUp">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'tasting' %}">Дегустации</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{get_tasting.title}}</li>
                        </ol>
                    </nav>
                </div>
                <!-- Page Header Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Page Single Post Start -->
<div class="page-single-post">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Post Featured Image Start -->
                <div class="post-image">
                    <div class="video-gallery-image wow fadeInUp" data-cursor-text="Смотреть">
                        <div id="video-container">
                            <figure class="image-anime reveal" id="thumbnail">
                                <img src="{{ get_tasting.image.url }}" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
                
                <script>
                document.getElementById("thumbnail").addEventListener("click", function() {
                    let videoUrl = "{{ get_tasting.video.url }}"; // Убедись, что ссылка ведёт к файлу .mkv
                
                    let videoElement = document.createElement("video");
                    videoElement.src = videoUrl;
                    videoElement.controls = true;
                    videoElement.autoplay = true;
                    videoElement.style.width = "100%";
                
                    let container = document.getElementById("video-container");
                    container.innerHTML = "";
                    container.appendChild(videoElement);
                });
                </script>               
                <div class="post-content">
                    <div class="post-entry">
                        <h2 class="text-anime-style-3">{{get_tasting.title}}</h2>
                        <p class="wow fadeInUp">{{get_tasting.description|safe}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Single Post End -->

<!-- Footer Start -->
{% include 'include/footer.html' %}
<!-- Footer End -->
{% endblock %}