{% load static %}
<footer class="main-footer bg-section">
    <div class="container">
        <div class="row">                
            <div class="col-lg-4">
                <!-- About Footer Start -->
                <div class="about-footer">
                    <!-- Footer Logo Start -->
                    <div class="footer-logo">
                        <img src="{% static 'images/group-38.png' %}" alt="">
                    </div>
                    <!-- Footer Logo End -->             
                </div>
                <!-- About Footer End -->
            </div>
            <div class="col-lg-2 col-md-3 col-6">
                <!-- Footer Links Start -->
                <div class="footer-links">
                    <h3>feature</h3>
                    <ul>
                        <li><a href="#">payment link</a></li>
                        <li><a href="#">invoicing</a></li>
                        <li><a href="#">checkout</a></li>
                        <li><a href="#">integrations</a></li>
                    </ul>
                </div>
                <!-- Footer Links End -->
            </div>

            <div class="col-lg-2 col-md-3 col-6">
                <!-- Footer Links Start -->
                <div class="footer-links">
                    <h3>solutions</h3>
                    <ul>
                        <li><a href="#">e-Commerce</a></li>
                        <li><a href="#">Finance Automation</a></li>
                        <li><a href="#">crypto</a></li>
                        <li><a href="#">global business</a></li>
                    </ul>
                </div>
                <!-- Footer Links End -->
            </div>

            <div class="col-lg-2 col-md-3 col-6">
                <!-- Footer Links Start -->
                <div class="footer-links">
                    <h3>resources</h3>
                    <ul>
                        <li><a href="#">support</a></li>
                        <li><a href="#">blogance</a></li>
                        <li><a href="#">community</a></li>
                        <li><a href="#">privacy policy</a></li>
                    </ul>
                </div>
                <!-- Footer Links End -->
            </div>

            <div class="col-lg-2 col-md-3 col-6">
                <!-- Footer Links Start -->
                <div class="footer-links">
                    <h3>company</h3>
                    <ul>
                        <li><a href="#">home</a></li>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">services</a></li>
                        <li><a href="#">contact</a></li>
                    </ul>
                </div>
                <!-- Footer Links End -->
            </div>
        </div>

        <!-- Footer Copyright Section Start -->
        <div class="footer-copyright">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <!-- Footer Copyright Start -->
                    <div class="footer-copyright-text">
                        <p>Copyright © 2025 by Nurai All Rights Reserved.</p>
                    </div>
                    <!-- Footer Copyright End -->
                </div>

                <div class="col-lg-6 col-md-6">
                    <!-- Footer Social Link Start -->
                    <div class="footer-social-links">
                        <ul>
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <!-- Footer Social Link End -->
                </div>
            </div>
        </div>
        <!-- Footer Copyright Section End -->
    </div>
 </footer>