{% load static %}
<footer class="main-footer bg-section">
    <div class="container">
        <div class="row">                
            <div class="col-lg-4">
                <!-- About Footer Start -->
                <div class="about-footer">
                    <!-- Footer Logo Start -->
                    <div class="footer-logo">
                        <img src="{% static 'images/group-38.png' %}" alt="">
                    </div>
                    <!-- Footer Logo End -->             
                </div>
                <!-- About Footer End -->
            </div>
            <div class="col-lg-2 col-md-3 col-6">
                <!-- Footer Links Start -->
                <div class="footer-links">
                    <h3>Соц. сети</h3>
                    <ul>
                        <li><a href="{{setting.telegram}}">telegram</a></li>
                        <li><a href="{{setting.instagram}}">instagram</a></li>
                        <li><a href="{{url.url}}">whatsapp</a></li>
                    </ul>
                </div>
                <!-- Footer Links End -->
            </div>

            <div class="col-lg-2 col-md-3 col-6">
                <!-- Footer Links Start -->
                <div class="footer-links">
                    <h3>Возможности</h3>
                    <ul>
                        <li><a href="{% url 'video_recipes' %}">Рецепты</a></li>
                        <li><a href="{% url 'guarentee' %}">Гарантии</a></li>
                        <li><a href="{% url 'faqs' %}">Вопросы</a></li>
                        <li><a href="{% url 'tasting' %}">Дегустация</a></li>
                    </ul>
                </div>
                <!-- Footer Links End -->
            </div>
            <div class="col-lg-2 col-md-3 col-6">
                <!-- Footer Links Start -->
                <div class="footer-links">
                    <h3>Страницы</h3>
                    <ul>
                        <li><a href="{% url 'index' %}">Главная</a></li>
                        <li><a href="{% url 'about' %}">О нас</a></li>
                        <li><a href="{% url 'contact' %}">Контакты</a></li>
                    </ul>
                </div>
                <!-- Footer Links End -->
            </div>
        </div>

        <!-- Footer Copyright Section Start -->
        <div class="footer-copyright">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <!-- Footer Copyright Start -->
                    <div class="footer-copyright-text">
                        <p>Copyright © 2025 by Mycook All Rights Reserved.</p>
                    </div>
                    <!-- Footer Copyright End -->
                </div>

                <div class="col-lg-6 col-md-6">
                    <!-- Footer Social Link Start -->
                    <div class="footer-social-links">
                        <ul>
                            <li><a href="{{setting.facebook}}"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="{{setting.instagram}}"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="{{setting.telegram}}"><i class="fa-brands fa-telegram"></i></a></li>
                        </ul>
                    </div>
                    <!-- Footer Social Link End -->
                </div>
            </div>
        </div>
        <!-- Footer Copyright Section End -->
    </div>
 </footer>