{% load static %}
<!-- <div class="preloader">
    <div class="loading-container">
        <div class="loading"></div>
        <div id="loading-icon"><img src="{% static 'images/images__1_-removebg-preview-Photoroom-removebg-preview.png' %}" style="width: 500px; height: auto;" alt=""></div>
    </div>
</div> -->
<header class="main-header">
    <div class="header-sticky">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <!-- Logo Start -->
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{{setting.logo.url}}" style="width: 100px; height: auto;" alt="Logo">
                </a>
                <!-- Logo End -->
                <!-- Main Menu Start -->
                <div class="collapse navbar-collapse main-menu">
                    <div class="nav-menu-wrapper">
                        <ul class="navbar-nav mr-auto" id="menu">
                            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Главная</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">О нас</a>
                            <li class="nav-item"><a class="nav-link" href="{% url 'video_recipes' %}">Рецепты</a></li>
                            
                            <li class="nav-item submenu"><a class="nav-link" href="#">Страницы</a>
                                <ul>                                        
                                    <li class="nav-item"><a class="nav-link" href="{% url 'guarentee' %}">Гарантия</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'faqs' %}">Вопросы</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'tasting' %}">Дегустации</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Контакты</a></li>                             
                        </ul>
                    </div>
                    <!-- Header Btn Start -->
                    <div class="header-btn d-inline-flex">
                        <a href="{{url.url}}" class="btn-default btn-signup">Доставка</a>
                    </div>
                    <!-- Header Btn End -->
                </div>
                <!-- Main Menu End -->
                <div class="navbar-toggle"></div>
            </div>
        </nav>
        <div class="responsive-menu"></div>
    </div>
</header>
<script>// Выбираем элемент заголовка
    const header = document.querySelector('.main-header');
    let lastScrollY = window.scrollY;
    
    // Добавляем обработчик события прокрутки
    window.addEventListener('scroll', () => {
        const currentScrollY = window.scrollY;
    
        if (currentScrollY < lastScrollY) {
            // Прокрутка вверх: показываем заголовок
            header.style.top = "20px"; // Фиксируем сверху
        } else {
            // Прокрутка вниз: скрываем заголовок
            header.style.top = "-100px"; // Скрываем за пределы видимости
        }
    
        lastScrollY = currentScrollY; // Обновляем значение прокрутки
    });
    
</script>