{% load static %}
<!-- <div class="preloader">
    <div class="loading-container">
        <div class="loading"></div>
        <div id="loading-icon"><img src="{% static 'images/images__1_-removebg-preview-Photoroom-removebg-preview.png' %}" style="width: 500px; height: auto;" alt=""></div>
    </div>
</div> -->
<header class="main-header">
    <div class="header-sticky">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <!-- Logo Start -->
                <a class="navbar-brand" href="./">
                    <img src="{% static 'images/group-38.png' %}" style="width: 100px; height: auto;" alt="Logo">
                </a>
                <!-- Logo End -->
                <!-- Main Menu Start -->
                <div class="collapse navbar-collapse main-menu">
                    <div class="nav-menu-wrapper">
                        <ul class="navbar-nav mr-auto" id="menu">
                            <li class="nav-item"><a class="nav-link" href="index.html">Главная</a></li>
                            <li class="nav-item"><a class="nav-link" href="about.html">О нас</a>
                            <li class="nav-item"><a class="nav-link" href="projects.html">Рецепты</a></li>
                            <li class="nav-item submenu"><a class="nav-link" href="service.html">Услуги</a>
                                <ul>                                        
                                    <li class="nav-item"><a class="nav-link" href="service-single.html">Доставка</a></li>
                                </ul>
                            </li>
                            <li class="nav-item submenu"><a class="nav-link" href="#">Страницы</a>
                                <ul>                                        
                                    <li class="nav-item"><a class="nav-link" href="project-single.html">Гарантия</a></li>
                                    <li class="nav-item"><a class="nav-link" href="service-single.html">Акции</a></li>
                                    <li class="nav-item"><a class="nav-link" href="project-single.html">Вопросы</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">Контакты</a></li>                             
                        </ul>
                    </div>
                    <!-- Header Btn Start -->
                    <div class="header-btn d-inline-flex">
                        <a href="#" class="btn-login">Войти</a>
                        <a href="#" class="btn-default btn-signup">Регистрация</a>
                    </div>
                    <!-- Header Btn End -->
                </div>
                <!-- Main Menu End -->
                <div class="navbar-toggle"></div>
            </div>
        </nav>
        <div class="responsive-menu"></div>
    </div>
</header>