{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
    {% include 'include/header.html' %} 
    <!-- Page Header Start -->
    <div class="page-header" style="background-image: url('{{ banner.image.url }}');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Page Header Box Start -->
					<div class="page-header-box">
						<h1 class="text-anime-style-3" data-cursor="-opaque">Гарантии </h1>
						<nav class="wow fadeInUp">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
								<li class="breadcrumb-item active" aria-current="page">Гарантии</li>
							</ol>
						</nav>
					</div>
					<!-- Page Header Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Page Company History Start -->
    <div class="page-company-history">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Company History Box Start -->
                    <div class="company-history-box">
                        <!-- Company History Item Start -->
                        <div class="company-history-item">
                            <div class="company-history-info">
                                <div class="company-history-year wow fadeInUp">
                                    <h2>2015</h2>
                                </div>
                                <div class="company-history-content">
                                    <h3 class="wow fadeInUp" data-wow-delay="0.25s">Start Company</h3>
                                    <p class="wow fadeInUp" data-wow-delay="0.5s">Starting a company is an exciting journey that begins with a vision and a plan. It involves transforming innovative ideas into a functional business by establishing a strong foundation.</p>
                                </div>
                            </div>

                            <div class="company-history-image">
                                <figure class="image-anime reveal">
                                    <img src="{% static 'images/company-history-img-1.jpg' %}" alt="">
                                </figure>
                            </div>
                        </div>
                        <!-- Company History Item End -->

                        <!-- Company History Item Start -->
                        <div class="company-history-item">
                            <div class="company-history-info">
                                <div class="company-history-year wow fadeInUp">
                                    <h2>2017</h2>
                                </div>
                                <div class="company-history-content">
                                    <h3 class="wow fadeInUp" data-wow-delay="0.25s">Opening Office</h3>
                                    <p class="wow fadeInUp" data-wow-delay="0.5s">Opening an office marks a significant milestone in a company's growth. It provides a dedicated space for collaboration, productivity, and client engagement.</p>
                                </div>
                            </div>

                            <div class="company-history-image">
                                <figure class="image-anime reveal">
                                    <img src="{% static 'images/company-history-img-2.jpg' %}" alt="">
                                </figure>
                            </div>
                        </div>
                        <!-- Company History Item End -->

                        <!-- Company History Item Start -->
                        <div class="company-history-item">
                            <div class="company-history-info">
                                <div class="company-history-year wow fadeInUp">
                                    <h2>2018</h2>
                                </div>
                                <div class="company-history-content">
                                    <h3 class="wow fadeInUp" data-wow-delay="0.25s">Improve Management</h3>
                                    <p class="wow fadeInUp" data-wow-delay="0.5s">Improving management is crucial for enhancing organizational efficiency and achieving business goals. This involves adopting effective leadership practices.</p>
                                </div>
                            </div>

                            <div class="company-history-image">
                                <figure class="image-anime reveal">
                                    <img src="{% static 'images/company-history-img-3.jpg' %}" alt="">
                                </figure>
                            </div>
                        </div>
                        <!-- Company History Item End -->

                        <!-- Company History Item Start -->
                        <div class="company-history-item">
                            <div class="company-history-info">
                                <div class="company-history-year wow fadeInUp">
                                    <h2>2021</h2>
                                </div>
                                <div class="company-history-content">
                                    <h3 class="wow fadeInUp" data-wow-delay="0.25s">Open Research Team</h3>
                                    <p class="wow fadeInUp" data-wow-delay="0.5s">Establishing an open research team fosters collaboration and innovation by bringing together diverse minds to tackle complex problems.</p>
                                </div>
                            </div>

                            <div class="company-history-image">
                                <figure class="image-anime reveal">
                                    <img src="{% static 'images/company-history-img-4.jpg' %}" alt="">
                                </figure>
                            </div>
                        </div>
                        <!-- Company History Item End -->

                        <!-- Company History Item Start -->
                        <div class="company-history-item">
                            <div class="company-history-info">
                                <div class="company-history-year wow fadeInUp">
                                    <h2>2024</h2>
                                </div>
                                <div class="company-history-content">
                                    <h3 class="wow fadeInUp" data-wow-delay="0.25s">Winning Award</h3>
                                    <p class="wow fadeInUp" data-wow-delay="0.5s">Winning an award is a significant recognition of excellence and achievement in a specific field. It validates hard work, dedication, and innovation, boosting morale and enhancing.</p>
                                </div>
                            </div>

                            <div class="company-history-image">
                                <figure class="image-anime reveal">
                                    <img src="{% static 'images/company-history-img-5.jpg' %}" alt="">
                                </figure>
                            </div>
                        </div>
                        <!-- Company History Item End -->
                    </div>
                    <!-- Company History Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Company History End -->

    <!-- Footer Start -->
    {% include 'include/footer.html' %}
    <!-- Footer End -->
{% endblock %}