{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
    {% include 'include/header.html' %} 

    <!-- Page Header Start -->
    <div class="page-header" style="background-image: url('{{ banner.image.url }}');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Page Header Box Start -->
					<div class="page-header-box">
						<h1 class="text-anime-style-3" data-cursor="-opaque">{{banner.title}}</h1>
						<nav class="wow fadeInUp">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'index' %}">главная</a></li>
								<li class="breadcrumb-item"><a href="{% url 'video_recipes' %}">рецепты</a></li>
								<li class="breadcrumb-item active" aria-current="page">{{get_recipe.title}}</li>
							</ol>
						</nav>
					</div>
					<!-- Page Header Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Page Case Study Single Start -->
    <div class="page-case-study-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <!-- Case Study Sidebar Start -->
                    <div class="case-study-sidebar">
                        <!-- Case Study Detail Box Start -->
                        <div class="case-study-detail-box wow fadeInUp">
                            <!-- Case Study Detail Content Start -->
                            <div class="case-study-deatil-content">
                                <h3>автор</h3>
                                <p>company name</p>
                            </div>
                            <!-- Case Study Detail Item Start -->

                            <!-- Case Study Detail Content Start -->
                            <div class="case-study-deatil-content">
                                <h3>дата публикации</h3>
                                <p>13/09/2024</p>
                            </div>
                            <!-- Case Study Detail Item Start -->

                            <!-- Case Study Detail Content Start -->
                            <div class="case-study-deatil-content">
                                <h3>Теги</h3>
                                <p>marketing, business</p>
                            </div>
                            <!-- Case Study Detail Item Start -->

                            <!-- Case Study Detail Content Start -->
                            <div class="case-study-deatil-content">
                                <h3>сколько прошло</h3>
                                <p>9 Month</p>
                            </div>
                            <!-- Case Study Detail Item Start -->


                            <!-- Case Study Detail Item Start -->
                        </div>
                        <!-- Case Study Detail Box Start -->

                        <!-- Sidebar Cta Box Start -->
                        <div class="sidebar-cta-box wow fadeInUp" data-wow-delay="0.25s">
                            <!-- Cta Content Start -->
                            <div class="sidebar-cta-content">
                                <h3>Если вам нужна помощь, свяжитесь с нами!</h3>
                            </div>
                            <!-- Cta Content End -->
                            <!-- Sidebar Cta Btn Start -->
                            <div class="sidebar-cta-btn">
                                <a href="tel:+017898526" class="btn-default contact-btn">+01 789 852 654</a>
                            </div>
                            <!-- Sidebar Cta Btn End -->
                        </div>
                        <!-- Sidebar Cta Box End -->
                    </div>
                    <!-- Project Sidebar End -->
                </div>

                <div class="col-lg-8">
                    <!-- Project Single Content -->
                    <div class="case-study-single-content">
                        <!-- Project Featured Image Start -->
                        <div class="case-study-featured-image">
                            <a href="{{get_recipe.video_url}}" class="popup-video">
                                <figure class="image-anime reveal" frameborder="0" allowfullscreen>
                                    <img src="{{get_recipe.image.url}}" alt="">
                                </figure>
                            </a>
                        </div>
                        <!-- Project Featured Image End -->

                        <!-- Service Entry Content Start -->
                        <div class="case-study-entry">
                            <p class="wow fadeInUp" data-wow-delay="0.2s">{{get_recipe.description|safe}}</p>

                            <!-- Case Study Approch Box End -->

                        </div>
                        <!-- Service Entry Content End -->
                    </div>
                    <!-- Project Single End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Project Single End -->

    <!-- Footer Start -->
    {% include 'include/footer.html' %}
    <!-- Footer End -->
{% endblock %}