<!DOCTYPE html>
<html lang="zxx">
<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Awaiken">
	<!-- Page Title -->
    <title>Leadz - Business & Finance HTML Template</title>
	<!-- Favicon Icon -->
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
	<!-- Google Fonts Css-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap" rel="stylesheet">
	<!-- Bootstrap Css -->
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	<!-- SlickNav Css -->
	<link href="css/slicknav.min.css" rel="stylesheet">
	<!-- Swiper Css -->
	<link rel="stylesheet" href="css/swiper-bundle.min.css">
	<!-- Font Awesome Icon Css-->
	<link href="css/all.css" rel="stylesheet" media="screen">
	<!-- Animated Css -->
	<link href="css/animate.css" rel="stylesheet">
    <!-- Magnific Popup Core Css File -->
	<link rel="stylesheet" href="css/magnific-popup.css">
	<!-- Mouse Cursor Css File -->
	<link rel="stylesheet" href="css/mousecursor.css">
	<!-- Main Custom Css -->
	<link href="css/custom.css" rel="stylesheet" media="screen">
</head>
<body>

    <!-- Preloader Start -->
	<div class="preloader">
		<div class="loading-container">
			<div class="loading"></div>
			<div id="loading-icon"><img src="images/loader.svg" alt=""></div>
		</div>
	</div>
	<!-- Preloader End -->

    <!-- Topbar Section Start -->
    <div class="topbar">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <!-- Topbar Information Content Start -->
                    <div class="topbar-info-content">
                        <p><img src="images/icon-topbar-info.svg" alt=""><a href="#"> Limited Time Offer:</a> 0% Commission on All Trades! Sign up today and start saving.</p>
                    </div>
                    <!-- Topbar Information Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar Section End -->

    <!-- Header Start -->
	<header class="main-header">
		<div class="header-sticky">
			<nav class="navbar navbar-expand-lg">
				<div class="container">
					<!-- Logo Start -->
					<a class="navbar-brand" href="./">
						<img src="images/logo.svg" alt="Logo">
					</a>
					<!-- Logo End -->

					<!-- Main Menu Start -->
					<div class="collapse navbar-collapse main-menu">
                        <div class="nav-menu-wrapper">
                            <ul class="navbar-nav mr-auto" id="menu">
                                <li class="nav-item submenu"><a class="nav-link" href="./">Home</a>
                                    <ul>
                                        <li class="nav-item"><a class="nav-link" href="index.html">Home - Main</a></li>
                                        <li class="nav-item"><a class="nav-link" href="index-image.html">Home - Image</a></li>
                                        <li class="nav-item"><a class="nav-link" href="index-video.html">Home - Video</a></li>
                                        <li class="nav-item"><a class="nav-link" href="index-slider.html">Home - Slider</a></li>
                                    </ul>
                                </li>                                
                                <li class="nav-item submenu"><a class="nav-link" href="#">About Us</a>
                                    <ul>
                                        <li class="nav-item"><a class="nav-link" href="about.html">About Us</a>
                                        <li class="nav-item"><a class="nav-link" href="history.html">Company History</a></li>
                                        <li class="nav-item"><a class="nav-link" href="team.html">Our Team</a></li>
                                        <li class="nav-item"><a class="nav-link" href="team-single.html">Team Details</a></li>
                                        <li class="nav-item"><a class="nav-link" href="client.html">Our Clients</a></li>
                                        <li class="nav-item"><a class="nav-link" href="testimonial.html">Testimonial</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="service.html">Services</a></li>
                                <li class="nav-item"><a class="nav-link" href="projects.html">Projects</a></li>
                                <li class="nav-item submenu"><a class="nav-link" href="#">Pages</a>
                                    <ul>                                        
                                        <li class="nav-item"><a class="nav-link" href="service-single.html">Service Details</a></li>
                                        <li class="nav-item"><a class="nav-link" href="project-single.html">Project Details</a></li>
                                        <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                                        <li class="nav-item"><a class="nav-link" href="blog-single.html">Blog Details</a></li>
                                        <li class="nav-item"><a class="nav-link" href="case-study.html">Case Study</a></li>
                                        <li class="nav-item"><a class="nav-link" href="case-study-single.html">Case Study Details</a></li>
                                        <li class="nav-item"><a class="nav-link" href="pricing.html">Pricing Plan</a></li>
                                        <li class="nav-item"><a class="nav-link" href="image-gallery.html">Image Gallery</a></li>
                                        <li class="nav-item"><a class="nav-link" href="video-gallery.html">Video Gallery</a></li>
                                        <li class="nav-item"><a class="nav-link" href="faqs.html">FAQs</a></li>
                                        <li class="nav-item"><a class="nav-link" href="404.html">404</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="contact.html">Contact Us</a></li>                             
                            </ul>
                        </div>
                        <!-- Header Btn Start -->
                        <div class="header-btn d-inline-flex">
                            <a href="#" class="btn-login">login</a>
                            <a href="#" class="btn-default btn-signup">sign up</a>
                        </div>
                        <!-- Header Btn End -->
					</div>
					<!-- Main Menu End -->
					<div class="navbar-toggle"></div>
				</div>
			</nav>
			<div class="responsive-menu"></div>
		</div>
	</header>
	<!-- Header End -->

    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Page Header Box Start -->
					<div class="page-header-box">
						<h1 class="text-anime-style-3" data-cursor="-opaque">Services List</h1>
						<nav class="wow fadeInUp">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="./">home</a></li>
								<li class="breadcrumb-item active" aria-current="page">services</li>
							</ol>
						</nav>
					</div>
					<!-- Page Header Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Page Services Start -->
    <div class="page-services">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!-- Service Item Start -->
                    <div class="service-item wow fadeInUp">
                        <!-- Service Image Start -->
                        <div class="service-image">
                            <a href="#">
                                <figure class="image-anime">
                                    <img src="images/service-img-1.jpg" alt="">
                                </figure>
                            </a>
                        </div>
                        <!-- Service Image End -->

                        <!-- Service Body Start -->
                        <div class="service-body">
                            <!-- Service Content Start -->
                            <div class="service-content">
                                <h3>investment management</h3>
                                <p>Professional portfolio management designed to grow and diversify your assets.</p>
                            </div>
                            <!-- Service Content End -->

                            <!-- Service Button Start -->
                            <div class="service-btn">
                                <a href="#" class="readmore-btn"><img src="images/icon-arrow.svg" alt=""></a>
                            </div>
                            <!-- Service Button End -->
                        </div>
                        <!-- Service Body End -->
                    </div>
                    <!-- Service Item End -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Service Item Start -->
                    <div class="service-item wow fadeInUp" data-wow-delay="0.2s">
                        <!-- Service Image Start -->
                        <div class="service-image">
                            <figure>
                                <img src="images/service-img-2.jpg" alt="">
                            </figure>
                        </div>
                        <!-- Service Image End -->

                        <!-- Service Body Start -->
                        <div class="service-body">
                            <!-- Service Content Start -->
                            <div class="service-content">
                                <h3>financial planning</h3>
                                <p>Customized strategies to help you achieve your long-term financial goals.</p>
                            </div>
                            <!-- Service Content End -->

                            <!-- Service Button Start -->
                            <div class="service-btn">
                                <a href="#" class="readmore-btn"><img src="images/icon-arrow.svg" alt=""></a>
                            </div>
                            <!-- Service Button End -->
                        </div>
                        <!-- Service Body End -->
                    </div>
                    <!-- Service Item End -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Service Item Start -->
                    <div class="service-item wow fadeInUp" data-wow-delay="0.4s">
                        <!-- Service Image Start -->
                        <div class="service-image">
                            <figure>
                                <img src="images/service-img-3.jpg" alt="">
                            </figure>
                        </div>
                        <!-- Service Image End -->

                        <!-- Service Body Start -->
                        <div class="service-body">
                            <!-- Service Content Start -->
                            <div class="service-content">
                                <h3>retirement planning</h3>
                                <p>Tailored solutions to secure a comfortable and financially stable retirement.</p>
                            </div>
                            <!-- Service Content End -->

                            <!-- Service Button Start -->
                            <div class="service-btn">
                                <a href="#" class="readmore-btn"><img src="images/icon-arrow.svg" alt=""></a>
                            </div>
                            <!-- Service Button End -->
                        </div>
                        <!-- Service Body End -->
                    </div>
                    <!-- Service Item End -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Service Item Start -->
                    <div class="service-item wow fadeInUp" data-wow-delay="0.6s">
                        <!-- Service Image Start -->
                        <div class="service-image">
                            <figure>
                                <img src="images/service-img-4.jpg" alt="">
                            </figure>
                        </div>
                        <!-- Service Image End -->

                        <!-- Service Body Start -->
                        <div class="service-body">
                            <!-- Service Content Start -->
                            <div class="service-content">
                                <h3>tax planning</h3>
                                <p>Expert advice to minimize tax liabilities and enhance your financial outcomes.</p>
                            </div>
                            <!-- Service Content End -->

                            <!-- Service Button Start -->
                            <div class="service-btn">
                                <a href="#" class="readmore-btn"><img src="images/icon-arrow.svg" alt=""></a>
                            </div>
                            <!-- Service Button End -->
                        </div>
                        <!-- Service Body End -->
                    </div>
                    <!-- Service Item End -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Service Item Start -->
                    <div class="service-item wow fadeInUp" data-wow-delay="0.8s">
                        <!-- Service Image Start -->
                        <div class="service-image">
                            <figure>
                                <img src="images/service-img-5.jpg" alt="">
                            </figure>
                        </div>
                        <!-- Service Image End -->

                        <!-- Service Body Start -->
                        <div class="service-body">
                            <!-- Service Content Start -->
                            <div class="service-content">
                                <h3>wealth management</h3>
                                <p>Comprehensive strategies for growing, protecting, and transferring wealth.</p>
                            </div>
                            <!-- Service Content End -->

                            <!-- Service Button Start -->
                            <div class="service-btn">
                                <a href="#" class="readmore-btn"><img src="images/icon-arrow.svg" alt=""></a>
                            </div>
                            <!-- Service Button End -->
                        </div>
                        <!-- Service Body End -->
                    </div>
                    <!-- Service Item End -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Service Item Start -->
                    <div class="service-item wow fadeInUp" data-wow-delay="1s">
                        <!-- Service Image Start -->
                        <div class="service-image">
                            <figure>
                                <img src="images/service-img-6.jpg" alt="">
                            </figure>
                        </div>
                        <!-- Service Image End -->

                        <!-- Service Body Start -->
                        <div class="service-body">
                            <!-- Service Content Start -->
                            <div class="service-content">
                                <h3>risk management</h3>
                                <p>Identifying potential risks and implementing strategies to safeguard your finances.</p>
                            </div>
                            <!-- Service Content End -->

                            <!-- Service Button Start -->
                            <div class="service-btn">
                                <a href="#" class="readmore-btn"><img src="images/icon-arrow.svg" alt=""></a>
                            </div>
                            <!-- Service Button End -->
                        </div>
                        <!-- Service Body End -->
                    </div>
                    <!-- Service Item End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Services End -->

    <!-- Company Success Section Start -->
    <div class="company-success bg-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="company-success-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">financial success</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">Achieve financial success through smart strategies and planning</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.25s">Discover how strategic planning and smart financial decisions can help you achieve long-term financial success. Learn key insights and tools to grow, manage, and protect your wealth effectively.</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- Our Company Body Start -->
                        <div class="company-success-body">
                            <!-- Company Customer Images Start -->
                            <div class="company-client-images">
                                <div class="client-image">
                                    <img src="images/success-customer-img-1.jpg" alt="">
                                </div>
                                <div class="client-image">
                                    <img src="images/success-customer-img-2.jpg" alt="">
                                </div>
                                <div class="client-image">
                                    <img src="images/success-customer-img-3.jpg" alt="">
                                </div>
                                <div class="client-image">
                                    <img src="images/success-customer-img-4.jpg" alt="">
                                </div>
                                <div class="client-image add-client">
                                    <a href="#"><i class="fa-solid fa-plus"></i></a>
                                </div>
                            </div>
                            <!-- Company Customer Images End -->

                            <!-- Company Customer Info Start -->
                            <div class="company-success-info">
                                <h3>Trusted by <span class="counter">5000</span>+ Worldwide Brands & Customer</h3>
                            </div>
                            <!-- Company Customer Info Start -->
                        </div>
                        <!-- Our Company Body End -->
                        
                        <!-- Our Company Btn Start -->
                        <div class="company-success-btn wow fadeInUp" data-wow-delay="0.5s">
                            <a href="#" class="btn-default">contact now</a>
                        </div>
                        <!-- Our Company Btn End -->
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- Company Success Images Start -->
                    <div class="company-success-images">
                        <!-- Company Success Image Start -->
                        <div class="company-success-image">
                            <figure class="image-anime reveal">
                                <img src="images/company-success-image.jpg" alt="">
                            </figure>
                        </div>
                        <!-- Company Success Image End -->

                        <!-- Company Success Chart Image Start -->
                        <div class="company-success-chart">
                            <img src="images/company-success-chart.jpg" alt="">
                        </div>
                        <!-- Company Success Chart Image End -->
                    </div>
                    <!-- Company Success Images End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Company Success Section End -->

    <!-- Our Testimonial Section Start -->
    <div class="our-testimonial">
        <div class="container">
            <div class="row section-row align-items-center">
                <div class="col-lg-6">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">testimonial</h3>
                        <h2 class="text-anime-style-3" data-cursor="-opaque">Genuine reviews from satisfied customers</h2>
                    </div>
                    <!-- Section Title End -->
                </div>

                <div class="col-lg-6">
                    <!-- Section Button Start -->
                    <div class="section-btn wow fadeInUp" data-wow-delay="0.25s">
                        <a href="#" class="btn-default">contact now</a>
                    </div>
                    <!-- Section Button End -->
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-8">
                    <!-- Testimonial Slider Start -->
                    <div class="testimonial-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <!-- Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-item">	
                                        <div class="testimonial-header">
                                            <div class="testimonial-content">
                                                <p>"The team provided exceptional financial guidance tailored to my needs. Their expert advice helped me grow my investments while ensuring financial security for the future. I highly recommend their services for anyone seeking trusted, personalized financial solutions!"</p>									
                                            </div>
                                        </div>
                                        <div class="testimonial-body">
                                            <div class="author-image">
                                                <figure class="image-anime">
                                                    <img src="images/author-1.jpg" alt="">
                                                </figure>
                                            </div>            
                                            <div class="author-content">
                                                <h3>arlene mcCoy</h3>
                                                <p>co. founder</p>
                                            </div>
                                        </div>													
                                    </div>
                                </div>
                                <!-- Testimonial Slide End -->

                                <!-- Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-item">	
                                        <div class="testimonial-header">
                                            <div class="testimonial-content">
                                                <p>"The team provided exceptional financial guidance tailored to my needs. Their expert advice helped me grow my investments while ensuring financial security for the future. I highly recommend their services for anyone seeking trusted, personalized financial solutions!"</p>									
                                            </div>
                                        </div>
                                        <div class="testimonial-body">
                                            <div class="author-image">
                                                <figure class="image-anime">
                                                    <img src="images/author-1.jpg" alt="">
                                                </figure>
                                            </div>            
                                            <div class="author-content">
                                                <h3>arlene mcCoy</h3>
                                                <p>co. founder</p>
                                            </div>
                                        </div>													
                                    </div>
                                </div>
                                <!-- Testimonial Slide End -->
                            </div>
                            <div class="testimonial-btn">
                                <div class="testimonial-button-prev"></div>
                                <div class="testimonial-button-next"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial Slider End -->
                </div>

                <div class="col-lg-4">
                    <!-- Testimonial Counter Box Start -->
                    <div class="testimonial-counter-box">
                        <!-- Testimonial Counter Item Start -->
                        <div class="testimonial-counter-item">
                            <h2><span class="counter">12</span>k+</h2>
                            <p class="wow fadeInUp">The first credit card ever issued was made of cardboard and was introduced.</p>
                        </div>
                        <!-- Testimonial Counter Item End -->

                        <!-- Testimonial Counter Item Start -->
                        <div class="testimonial-counter-item">
                            <h2><span class="counter">0</span>%</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.25s">we believe that you should keep more of what you earn. </p>
                        </div>
                        <!-- Testimonial Counter Item End -->
                    </div>
                    <!-- Testimonial Counter Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Testimonial Section End -->

    <!-- CTA Box Start -->
    <div class="cta-box bg-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 order-lg-1 order-2">
                    <!-- CTA Box Image Start -->
                    <div class="cta-box-image">
                        <figure>
                            <img src="images/cta-box-image.jpg" alt="">
                        </figure>
                    </div>
                    <!-- CTA Box Image End -->
                </div>

                <div class="col-lg-7 order-lg-2 order-1">
                    <!-- CTA Box Content Start -->
                    <div class="cta-box-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">get a free quote</h3>
                            <h2 class="text-anime-style-3" data-cursor="-opaque">Take control of your financial future today!</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.25s">Start your journey toward financial success with expert guidance and personalized solutions. Secure your future with confidence.</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- CTA Box Button Start -->
                        <div class="cta-box-btn wow fadeInUp" data-wow-delay="0.5s">
                            <a href="#" class="btn-highlighted btn-cta-1">get started today</a>
                            <a href="#" class="btn-highlighted btn-cta-2">explore our services</a>
                        </div>
                        <!-- CTA Box Button End -->
                    </div>
                    <!-- CTA Box Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- CTA Box End -->

    <!-- Our FAQs Section Start -->
    <div class="our-faqs bg-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- FAQs Client Slider Start -->
                    <div class="faqs-client-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <!-- Client Slide Start -->
                                <div class="swiper-slide">
                                    <div class="client-logo">
                                        <figure>
                                            <img src="images/faqs-client-logo-1.svg" alt="">
                                        </figure>
                                    </div>
                                </div>
                                <!-- Client Slide End -->
    
                                <!-- Client Slide Start -->
                                <div class="swiper-slide">
                                    <div class="client-logo">
                                        <figure>
                                            <img src="images/faqs-client-logo-2.svg" alt="">
                                        </figure>
                                    </div>
                                </div>
                                <!-- Client Slide End -->
    
                                <!-- Client Slide Start -->
                                <div class="swiper-slide">
                                    <div class="client-logo">
                                        <figure>
                                            <img src="images/faqs-client-logo-3.svg" alt="">
                                        </figure>
                                    </div>
                                </div>
                                <!-- Client Slide End -->
    
                                <!-- Client Slide Start -->
                                <div class="swiper-slide">
                                    <div class="client-logo">
                                        <figure>
                                            <img src="images/faqs-client-logo-4.svg" alt="">
                                        </figure>
                                    </div>
                                </div>
                                <!-- Client Slide End -->
    
                                <!-- Client Slide Start -->
                                <div class="swiper-slide">
                                    <div class="client-logo">
                                        <figure>
                                            <img src="images/faqs-client-logo-5.svg" alt="">
                                        </figure>
                                    </div>
                                </div>
                                <!-- Client Slide End -->
    
                                <!-- Client Slide Start -->
                                <div class="swiper-slide">
                                    <div class="client-logo">
                                        <figure>
                                            <img src="images/faqs-client-logo-1.svg" alt="">
                                        </figure>
                                    </div>
                                </div>
                                <!-- Client Slide End -->
                            </div>
                        </div>
                    </div>
                    <!-- FAQs Client Slider End -->
                </div>
            </div>

            <div class="row section-row align-items-center">
                <div class="col-lg-7">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">frequently asked questions</h3>
                        <h2 class="text-anime-style-3" data-cursor="-opaque">Common business & finance questions and answers</h2>
                    </div>
                    <!-- Section Title End -->
                </div>

                <div class="col-lg-5">
                    <!-- Section Button Start -->
                    <div class="section-btn wow fadeInUp" data-wow-delay="0.25s">
                        <a href="#" class="btn-default">contact now</a>
                    </div>
                    <!-- Section Button End -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Our FAQs Box Start -->
                    <div class="our-faqs-box">
                        <!-- FAQs Item Start -->
                        <div class="faqs-item wow fadeInUp">
                            <!-- FAQs Item Content Start -->
                            <div class="faqs-item-content">
                                <h3>How do I create a budget for my business?</h3>
                                <p>To create a business budget, start by estimating your income and listing all fixed and variable expenses. Subtract expenses from income.</p>
                            </div>
                            <!-- FAQs Item Content End -->
                        </div>
                        <!-- FAQs Item End -->

                        <!-- FAQs Item Start -->
                        <div class="faqs-item wow fadeInUp" data-wow-delay="0.2s">
                            <!-- FAQs Item Content Start -->
                            <div class="faqs-item-content">
                                <h3>What is cash flow, and why is it important?</h3>
                                <p>Cash flow refers to the movement of money in and out of your business. Positive cash flow ensures you can cover operational costs.</p>
                            </div>
                            <!-- FAQs Item Content End -->
                        </div>
                        <!-- FAQs Item End -->

                        <!-- FAQs Item Start -->
                        <div class="faqs-item wow fadeInUp" data-wow-delay="0.4s">
                            <!-- FAQs Item Content Start -->
                            <div class="faqs-item-content">
                                <h3>How can I improve my business's financial stability?</h3>
                                <p>Build financial stability by maintaining a strong cash reserve, cutting unnecessary costs, managing debt carefully.</p>
                            </div>
                            <!-- FAQs Item Content End -->
                        </div>
                        <!-- FAQs Item End -->

                        <!-- FAQs Item Start -->
                        <div class="faqs-item wow fadeInUp" data-wow-delay="0.6s">
                            <!-- FAQs Item Content Start -->
                            <div class="faqs-item-content">
                                <h3>What financial metrics should I track regularly?</h3>
                                <p>Key financial metrics include net profit margin, cash flow, operating expenses, debt-to-equity ratio, and return on investment (ROI).</p>
                            </div>
                            <!-- FAQs Item Content End -->
                        </div>
                        <!-- FAQs Item End -->

                        <!-- FAQs Item Start -->
                        <div class="faqs-item wow fadeInUp" data-wow-delay="0.8s">
                            <!-- FAQs Item Content Start -->
                            <div class="faqs-item-content">
                                <h3>How often should I review my business budget?</h3>
                                <p>You should review your budget monthly or quarterly to ensure you're on track with projections. Regular reviews help.</p>
                            </div>
                            <!-- FAQs Item Content End -->
                        </div>
                        <!-- FAQs Item End -->

                        <!-- FAQs Item Start -->
                        <div class="faqs-item wow fadeInUp" data-wow-delay="1s">
                            <!-- FAQs Item Content Start -->
                            <div class="faqs-item-content">
                                <h3>What are the benefits of using financial technology?</h3>
                                <p>FinTech solutions can streamline financial operations through automation, improve data accuracy, enhance decision-making.</p>
                            </div>
                            <!-- FAQs Item Content End -->
                        </div>
                        <!-- FAQs Item End -->
                    </div>
                    <!-- Our FAQs Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our FAQs Section End -->

    <!-- Footer Start -->
    <footer class="main-footer bg-section">
        <div class="container">
            <div class="row">                
                <div class="col-lg-4">
                    <!-- About Footer Start -->
                    <div class="about-footer">
                        <!-- Footer Logo Start -->
                        <div class="footer-logo">
                            <img src="images/footer-logo.svg" alt="">
                        </div>
                        <!-- Footer Logo End -->             
                    </div>
                    <!-- About Footer End -->
                </div>
                
                <div class="col-lg-2 col-md-3 col-6">
                    <!-- Footer Links Start -->
                    <div class="footer-links">
                        <h3>feature</h3>
                        <ul>
                            <li><a href="#">payment link</a></li>
                            <li><a href="#">invoicing</a></li>
                            <li><a href="#">checkout</a></li>
                            <li><a href="#">integrations</a></li>
                        </ul>
                    </div>
                    <!-- Footer Links End -->
                </div>

                <div class="col-lg-2 col-md-3 col-6">
                    <!-- Footer Links Start -->
                    <div class="footer-links">
                        <h3>solutions</h3>
                        <ul>
                            <li><a href="#">e-Commerce</a></li>
                            <li><a href="#">Finance Automation</a></li>
                            <li><a href="#">crypto</a></li>
                            <li><a href="#">global business</a></li>
                        </ul>
                    </div>
                    <!-- Footer Links End -->
                </div>

                <div class="col-lg-2 col-md-3 col-6">
                    <!-- Footer Links Start -->
                    <div class="footer-links">
                        <h3>resources</h3>
                        <ul>
                            <li><a href="#">support</a></li>
                            <li><a href="#">blogance</a></li>
                            <li><a href="#">community</a></li>
                            <li><a href="#">privacy policy</a></li>
                        </ul>
                    </div>
                    <!-- Footer Links End -->
                </div>

                <div class="col-lg-2 col-md-3 col-6">
                    <!-- Footer Links Start -->
                    <div class="footer-links">
                        <h3>company</h3>
                        <ul>
                            <li><a href="#">home</a></li>
                            <li><a href="#">about us</a></li>
                            <li><a href="#">services</a></li>
                            <li><a href="#">contact</a></li>
                        </ul>
                    </div>
                    <!-- Footer Links End -->
                </div>
            </div>

            <!-- Footer Copyright Section Start -->
            <div class="footer-copyright">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <!-- Footer Copyright Start -->
                        <div class="footer-copyright-text">
                            <p>Copyright © 2024 All Rights Reserved.</p>
                        </div>
                        <!-- Footer Copyright End -->
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <!-- Footer Social Link Start -->
                        <div class="footer-social-links">
                            <ul>
                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <!-- Footer Social Link End -->
                    </div>
                </div>
            </div>
            <!-- Footer Copyright Section End -->
        </div>
     </footer>
    <!-- Footer End -->

    <!-- Jquery Library File -->
    <script src="js/jquery-3.7.1.min.js"></script>
    <!-- Bootstrap js file -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Validator js file -->
    <script src="js/validator.min.js"></script>
    <!-- SlickNav js file -->
    <script src="js/jquery.slicknav.js"></script>
    <!-- Swiper js file -->
    <script src="js/swiper-bundle.min.js"></script>
    <!-- Counter js file -->
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <!-- Isotop js file -->
	<script src="js/isotope.min.js"></script>
    <!-- Magnific js file -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- SmoothScroll -->
    <script src="js/SmoothScroll.js"></script>
    <!-- Parallax js -->
    <script src="js/parallaxie.js"></script>
    <!-- MagicCursor js file -->
    <script src="js/gsap.min.js"></script>
    <script src="js/magiccursor.js"></script>
    <!-- Text Effect js file -->
    <script src="js/SplitText.js"></script>
    <script src="js/ScrollTrigger.min.js"></script>
    <!-- YTPlayer js File -->
    <script src="js/jquery.mb.YTPlayer.min.js"></script>
    <!-- Wow js file -->
    <script src="js/wow.js"></script>
    <!-- Main Custom js file -->
    <script src="js/function.js"></script>
	<script src="https://demo.awaikenthemes.com/assets/js/theme-panel.js"></script>
</body>
</html>